.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
APP_STORE_GUIDE.md

# Large binary files
*.icns
*.png
dist/
out/
build/
release/
*.asar

.env
.env.*

*.swp
*.swo
.idea/
.vscode/


